# Dependencies
node_modules/
.pnp
.pnp.js

# Production
/out/
/build/

# Next.js
/.next/
/out/

# Environment variables
.env*.local

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db